<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link href="https://bcneagles.github.io/QuidNotes/style/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/icon" href="https://bcneagles.github.io/QuidNotes/img/eagles-logo.png">
</head>
<body>
    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <a href="https://bcneagles.github.io/QuidNotes/" id="eagles-logo">
                    <img src="https://bcneagles.github.io/QuidNotes/img/eagles-logo.png"  alt="eagles logo" width="80" height="80"/>
                </a>
            </div>
            <ul class="navigation">
                <a><li>Castellano</li></a>
                <a><li>English</li></a>
            </ul>
        </div>
    </div>
	<div class="container">
		<div class="content">
			{{ content }}
		</div>
	</div>
</body>
</html>
