<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="container">
		<div class="content">
			{{ content }}
		</div>
	</div>
    <ul>
        {% for page in site.pages %}
            <li>
                {% assign pagepath = page.path %}
                {% assign result = "https://bcneagles.github.io/QuidNotes/" | append: pagepath %}
                {% assign final = result | replace ".md", ".html" %}
                <a href= final>{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>      
    <p>HELLO WORLD</p>
</body>
</html>
