<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
    <link href="https://bcneagles.github.io/QuidNotes/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <a href="https://bcneagles.github.io/QuidNotes/">
            <img src="https://bcneagles.github.io/QuidNotes/img/eagles-logo.png" alt="eagles logo" width="60" height="60"/>
        </a>
    </header>
	<div class="container">
		<div class="content">
			{{ content }}
            <ul>
                {% for page in site.pages %}
                    {% if page.path contains '.md' and page.path contains 'eng/' %}
                        {% if page.path contains 'index.md' %}
                        {% else %}
                            <li>
                                {% assign pagepath = "https://bcneagles.github.io/QuidNotes/" | append: page.path %}
                                <a href={{ pagepath | replace: '.md', '.html' }}>{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul> 
		</div>
	</div>
</body>
</html>
