<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="container">
		<div class="content">
			{{ content }}
		</div>
	</div>
    <ul>
        {% for page in site.pages %}
            <li>
                {{ "Take my protein pills and put my helmet on" | replace: "my", "your" }}
                <a href= {{ "https://bcneagles.github.io/QuidNotes/{{ page.path }} | replace: ".md", ".html" }}>{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>      
    <p>HELLO WORLD</p>
</body>
</html>
