<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
    <link href="https://bcneagles.github.io/QuidNotes/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<div class="content">
			{{ content }}
		</div>
	</div>
    <ul>
        {% for page in site.pages %}
            <li>
                {% assign pagepath = "https://bcneagles.github.io/QuidNotes/" | append: page.path %}
                <a href={{ pagepath | replace '.md', '.html' }}>{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>      
    <p>HELLO WORLD</p>
</body>
</html>
